:root {
    --staex-dark-pacific-blue: rgb(0, 47, 59);
    --staex-golden-yellow: rgb(233, 221, 21);
    --staex-light-pacific-blue: rgb(0, 157, 196);
    --staex-medium-pacific-blue: rgb(0, 86, 104);
    --staex-metallic-gold: rgb(227, 220, 122);
    --staex-pacific-blue: rgb(0, 63, 78);
    --staex-stardust-silver: rgb(228, 233, 242);
    --staex-white: rgb(255, 255, 255);
    --staex-red: rgb(192, 64, 64);
    --staex-green: rgb(120, 185, 143);
    --staex-yellow: rgb(192, 192, 128);
    --staex-gray: rgb(128, 128, 128);
}

html {
    font-family: Roboto, Montserrat, sans;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    color: var(--staex-dark-pacific-blue);
    background-color: var(--staex-stardust-silver);
    font-size: 14pt;
    line-height: 1.5;
    margin: 0.5rem;
    padding: 0px;
    text-rendering: optimizeLegibility;
}

p {
    margin: 0px 0px 0.5rem 0px;
}

h1 {
    padding: 0;
    margin: 1.5rem 0 0 0;
    font-size: 2rem;
    hyphens: none;
    font-weight: bold;
}

h2 {
    padding: 0;
    margin: 1rem 0 0 0;
    font-size: 1.5rem;
    hyphens: none;
    font-weight: bold;
}

a {
    text-decoration: underline;
}

a:link,
a:visited,
a:active {
    color: var(--staex-dark-pacific-blue);
}

ul,
ol {
    margin: 0;
    padding: 0;
}

input:not([type]),
input[type='text'],
input[type='email'],
input[type='password'],
textarea {
    background: var(--staex-white);
    color: var(--staex-dark-pacific-blue);
    border-radius: 30px;
    padding: 10px 20px 10px 20px;
    border: none;
    outline: none;
    margin: 2px;
    max-width: 19rem;
    display: block;
}

input[type='checkbox'] {
    -webkit-appearance: none;
    appearance: none;
    width: 43px;
    height: 43px;
    border: none;
    outline: none;
    border-radius: 30px;
    background: var(--staex-white);
    padding: 0;
    margin: 2px;
}

input[type='checkbox']:checked {
    background-color: var(--staex-metallic-gold);
    outline: 2px solid var(--staex-white);
}

textarea {
    word-wrap: break-word;
    text-wrap: unrestricted;
}

textarea:focus,
input:focus,
button:focus {
    outline: 2px solid var(--staex-metallic-gold);
}

.valid {
    outline: 2px solid var(--staex-green) !important;
}

.invalid:not(:focus) {
    outline: 2px solid var(--staex-red) !important;
}

button:disabled {
    opacity: 0.75;
}

button {
    border-radius: 30px;
    padding: 10px 20px 10px 20px;
    background: var(--staex-metallic-gold);
    color: var(--staex-dark-pacific-blue);
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: normal;
}

.logo {
    max-width: 4rem;
    max-height: 4rem;
}

nav .logo {
    max-width: 2rem;
    max-height: 2rem;
    vertical-align: middle;
}

nav {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

nav li a {
    padding: 4px;
}

#app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0px;
}

@media screen and (max-width: 1280px) {
    nav {
        margin-left: 0rem;
    }
    nav ul {
        display: block;
        margin-left: 0px;
    }
    nav li {
        display: block;
        margin: 0.5rem 0.5rem 0 0;
    }
    footer ul {
        display: block;
        margin-left: 0px;
    }
    footer li {
        display: block;
        margin-left: 0px;
        margin-right: 1rem;
    }
}

@media screen and (min-width: 1280px) {
    nav {
        width: 1280px;
        margin: auto;
    }
    nav.login {
        width: auto;
    }
    nav ul {
        display: inline-block;
        margin-left: 0px;
    }
    nav li {
        margin-left: 0.5rem;
        display: inline-block;
        vertical-align: middle;
    }
    footer ul {
        display: inline-block;
        margin-left: 0px;
    }
    footer li {
        margin-left: 1rem;
        display: inline-block;
    }
    footer li:first-child {
        margin-left: 0rem;
    }
}

.hidden {
    display: none;
}

.center {
    text-align: center;
}

label {
    display: block;
}

.error {
    width: 39rem;
    padding: 4px;
    background: var(--staex-red);
    color: var(--staex-stardust-silver);
}

.success {
    width: 39rem;
    padding: 4px;
    background: var(--staex-green);
    color: var(--staex-dark-pacific-blue);
}

.top {
    vertical-align: top;
}

.warning {
    width: 39rem;
    display: inline-block;
    padding: 4px;
    color: var(--staex-stardust-silver);
    background-color: var(--staex-red);
    text-align: left;
}

pre {
    background-color: var(--staex-dark-pacific-blue);
    color: var(--staex-stardust-silver);
    border-radius: 8px;
    padding: 8px;
    margin: 0;
    overflow-x: scroll;
    white-space: pre;
    tab-size: 4;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    text-align: left;
}

.cf-turnstile {
    display: inline-block;
}

footer {
    font-size: 8pt;
    margin-top: 1.5rem;
}

.not-found {
    text-align: center;
}

label.right {
    display: inline-block;
    text-align: left;
    height: 43px;
}

label.right::before {
    content: ' ';
    white-space: pre;
}

ul.subscription-plans {
    list-style-type: none;
}

.key-left {
    display: inline-block;
    text-align: right;
}

.row {
    margin-bottom: 0.5rem;
}

.router-link-active {
    cursor: default;
    text-decoration: none;
    font-weight: 900;
}

.button-link {
    background: var(--staex-stardust-silver);
    color: var(--staex-dark-pacific-blue);
    border-radius: 30px;
    padding: 10px 20px 10px 20px;
    border: none;
    outline: none;
    cursor: auto;
}

.stale-node {
    color: var(--staex-gray);
}

table {
    background-color: var(--staex-white);
    color: var(--staex-dark-pacific-blue);
    border-radius: 30px;
    padding: 10px 20px 10px 20px;
    border: none;
    outline: none;
    border-spacing: 0;
    border-collapse: separate;
}

th {
    text-align: left;
    font-weight: bold;
}

.node-id,
samp,
pre {
    font-family: 'Roboto Mono', monospace;
    font-size: 14pt;
}

td:not(:first-child),
th:not(:first-child) {
    padding-left: 0.5rem;
}

td:not(:last-child),
th:not(:last-child) {
    padding-right: 0.5rem;
}

input.public-key {
    max-width: calc(min(30rem, 100vw));
    width: calc(min(30rem, 100vw));
}

caption.node-stats {
    text-align: left;
    caption-side: bottom;
    font-size: small;
    margin: 2px;
}

button.danger {
    background-color: var(--staex-red);
    color: var(--staex-stardust-silver);
}

.inline-block {
    display: inline-block;
}

.row button:not(:first-child) {
    margin-left: 2px;
}

input.node-id-input {
    max-width: calc(min(33rem, 100vw));
    width: calc(min(33rem, 100vw));
}

ul.videos li {
    border-radius: 30px;
    display: inline-block;
    margin: 4px;
    min-width: 640px;
    min-height: 480px;
    max-width: calc(100vw - 8px);
    max-height: calc(100vh - 8px);
}
